@model IEnumerable<TrashCollector.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Hello!</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

    </tr>
    @*@Html.ActionLink(item.name, "Details", new { id = item.Id })*@
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.CustomerId }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId })
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Index", "Customer")