@model IEnumerable<TrashCollector.Models.Customer>

@{
    ViewBag.Title = "Index";
}

@*@Html.HiddenFor(model => model.ApplicationId)
@Html.HiddenFor(model => model.CustomerId)
@Html.HiddenFor(model => model.employeeInDB)*@

<h2>Today's Customers:</h2>

<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PickupConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.StreetAddress)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Zipcode)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PickUpDay)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PickupConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StreetAddress)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Zipcode)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PickUpDay)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId })
                </td>
            </tr>
        }
    </table>
</div>



@* not sure what model. has to be passed through...it'll be a list of customers for specific day (look at employee controller
    for how index list view is populated. will have to filter out based on == specific day of the week *@
<div>
    @Html.ActionLink("Monday", "DayView", "Employee", new { Day = "Monday" }, null)
    @Html.ActionLink("Tuesday", "DayView", "Employee", new { Day = "Tuesday" }, null)
    @Html.ActionLink("Wednesday", "DayView", "Employee", new { Day = "Wednesday" }, null)
    @Html.ActionLink("Thursday", "DayView", "Employee", new { Day = "Thursday" }, null)
    @Html.ActionLink("Friday", "DayView", "Employee", new { Day = "Friday" }, null)
    @Html.ActionLink("Saturday", "DayView", "Employee", new { Day = "Saturday" }, null)
    @Html.ActionLink("Sunday", "DayView", "Employee", new { Day = "Sunday" }, null)
</div>



